@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fill-screen{
  min-height: 140vh;

}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #b3b3b3;
}
html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border:  solid #cacaca;
}
#grid {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
  justify-content: center;
  background-color: #9b9b9b;
  .grid-item {
    z-index: 5;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size-adjust: auto;
    
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      outline: 1px solid black;
      display: block;
    }
    /* &:hover {
      opacity: 0.8;
      background-color: rgb(75, 75, 75);
    } */
  }
}
.grid-item:hover{
  opacity: .1;
  background-color: rgb(196, 45, 45);
}
@font-face {
  font-family: "Goblin";
  src: local("Goblin") url("./assets/a-goblin-appears-font/AGoblinAppears-o2aV.ttf") format('truetype');
}

.font{
  font-family: monospace;
}
.logan-henig{
  position:absolute;
  inset: 0;
  margin: auto;

  z-index: 3;
  max-height: 10vh;
  min-height: 50px;
  min-width:200px;
  max-width: max-content;
  padding-left: 2vw;
  padding-right:2vw;
  
  border: #b7dfff;
  border: solid 2px;
  border-radius: 140px;

  font-family: "Goblin";
  font-size: 4vw;
  font-size-adjust: 2;
  margin-top: 30vh;

  background-color:  #353535;
  color: white
}
.flex-container{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: fit-content;
}
.click-me{
  position: relative; 
  top:30;
  left:70%
}
.hidden-1 {
  animation: fadeOut forwards;
  animation-duration: 3s;
  }
.hidden-2 {
  animation: fadeOut forwards;
  animation-duration: 2s;
}
.hidden-3 {
  animation: fadeOut forwards;
  animation-duration: 4s;
}
.hidden-4 {
  animation: fadeOut forwards;
  animation-duration: 1s;
}
.hidden-5 {
  animation: fadeOut forwards;
  animation-duration: 5s;
}

@keyframes fadeOut {
  0% {opacity: 1; transform: translate(0, 0);}
  100% {opacity: 0; transform: translate(0, 160%);}
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tech-continer{
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 100%;
  max-width: 80rem;

}
.technology-used{
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: monospace;
  margin: 2rem;
  padding: 2rem;
  border-bottom: #ffffff solid 1px;
  max-width: 75rem;
  width: 100%;
}
.name-container{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(176deg, #18181B 70%, #27272A calc(70% + 2px)) ;
  height: 15rem;
  width:100%;
}
.my-name {
  color: hsl(0, 0%, 28%);
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 7px!important;
  cursor: pointer;
  text-transform: uppercase;
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 15s infinite linear;
  font-size: 50px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 2000px;
  }
  100% {
    background-position: 2000px;
  }
}
